<section class="splide newsgallery" aria-label="Noticias Gallery">
	<div class="splide__track">
		<ul class="splide__list">
			{% for row in rows %}
				<li class="splide__slide">
					{{ row.content }}
					{# O el campo específico que deseas mostrar #}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
