{# /** * @file * Template for a Node. */ #} {% set classes = [ 'node',
node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not
node.isPublished() ? 'node--unpublished', node.bundle|clean_class,
node.bundle|clean_class ~ '--' ~ view_mode|clean_class, 'project' ] %}
<div id="home-v2">
    {% block content %}
    {% set title = node.title.value %}
    <section class="home-banner"></section>
    <section class="home-proposito"></section>
    <section class="home-proyectos"></section>
    <section class="home-metas"></section>
    <section class="home-convocatorias"></section>
    <section class="home-noticias"></section>
    <section class="home-video"></section>
    {% endblock %}

</div>