/* #B5E169 */
/* #345A47 */
.splide {
  align-self: flex-end;
}

.block--views-block--all-the-news-block-3 {
  background-color: #255b46;
  padding-bottom: 30px;
  position: relative;
}
.block--views-block--all-the-news-block-3::before {
  content: "";
  background-image: url(/sites/default/files/2024-04/newsBefore.png);
  width: 100%;
  height: 250px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -248%;
  z-index: 0;
}
.block--views-block--all-the-news-block-3 h2 {
  text-align: center;
  position: relative;
  z-index: 2;
  color: #afe951;
  font-family: "value serif pro";
  font-weight: bold;
}
.block--views-block--all-the-news-block-3 a {
  font-size: 18px;
  color: #fff;
}
.block--views-block--all-the-news-block-3 .views-field.views-field-created {
  display: block;
}
.block--views-block--all-the-news-block-3 .views-field.views-field-created span {
  color: #afe951;
  font-family: "value serif pro";
  font-weight: bold;
}

.views-view-grid.horizontal.cols-1.clearfix .views-row.clearfix.row-1 {
  padding: 10px !important;
}

.news-landings {
  background-color: #255b46;
}
.news-landings .views-view-grid.horizontal {
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.news-landings .views-view-grid.horizontal .views-row {
  border: 1px solid #c5e472;
  padding: 10px;
}
.news-landings .views-view-grid.horizontal .views-row .views-col {
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#special-landings {
  padding-bottom: 250px;
  background-image: url(/sites/default/files/2024-04/papel.jpg);
  background-size: 100vw 50vh;
  background-repeat: repeat-y;
  background-position: center center;
}
#special-landings #down {
  margin: 30px auto;
  width: 100px;
  display: block;
}
#special-landings #down img {
  width: 100%;
  object-fit: contain;
}
#special-landings .banner {
  background: #013334;
  display: flex;
  justify-content: center;
  gap: 420px;
  padding-left: 60px;
  height: 70vh;
  overflow: hidden;
}
#special-landings .banner .text {
  align-self: center;
}
#special-landings .banner .landings-especiales__field-subtitle,
#special-landings .banner p {
  font-family: "value serif pro";
  color: #ffffff;
  font-size: 29px;
  font-weight: bold;
}
#special-landings .banner .landings-especiales__field-imagen-banner {
  align-self: flex-end;
}
#special-landings .banner #firstPart {
  background-color: #afe951;
  font-size: 120px;
  line-height: 125px;
  color: #013334;
  border-radius: 5px;
  font-family: "value serif pro";
  font-weight: bold;
}
#special-landings .banner #secondPart {
  font-size: 120px;
  line-height: 125px;
  background-color: #013334;
  color: #afe951;
  display: block;
  font-family: "value serif pro";
  font-weight: bold;
}
#special-landings .banner h1 {
  display: none;
}
#special-landings .description {
  margin: 30px auto;
  max-width: 1200px;
  padding: 0 20px;
}
#special-landings .description h2 {
  text-align: center;
  font-family: "value serif pro";
  font-weight: bold;
  color: #345a47;
}
#special-landings .description .desc-p {
  column-count: 2;
  column-gap: 20px;
  margin-bottom: 30px;
}
#special-landings .description p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #003937;
}
#special-landings .temporal {
  margin: 30px auto;
}
#special-landings .temporal img {
  width: 100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
#special-landings h2 {
  text-align: center;
  color: #345a47;
}
#special-landings .map {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#special-landings .map g#suba,
#special-landings .map g#engativa,
#special-landings .map g#fontibon,
#special-landings .map g#kennedy,
#special-landings .map g#puentearanda,
#special-landings .map g#teusaquillo,
#special-landings .map g#chapinero,
#special-landings .map g#usaquen,
#special-landings .map g#santafe,
#special-landings .map g#sancristobal,
#special-landings .map g#usme,
#special-landings .map g#ciudadbolivar,
#special-landings .map g#rafaeluribe,
#special-landings .map g#losmartires,
#special-landings .map g#antonionarino,
#special-landings .map g#tunjuelito,
#special-landings .map g#barriosunidos {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  color: #b5e169;
  cursor: pointer;
}
#special-landings .map g#suba .text,
#special-landings .map g#engativa .text,
#special-landings .map g#fontibon .text,
#special-landings .map g#kennedy .text,
#special-landings .map g#puentearanda .text,
#special-landings .map g#teusaquillo .text,
#special-landings .map g#chapinero .text,
#special-landings .map g#usaquen .text,
#special-landings .map g#santafe .text,
#special-landings .map g#sancristobal .text,
#special-landings .map g#usme .text,
#special-landings .map g#ciudadbolivar .text,
#special-landings .map g#rafaeluribe .text,
#special-landings .map g#losmartires .text,
#special-landings .map g#antonionarino .text,
#special-landings .map g#tunjuelito .text,
#special-landings .map g#barriosunidos .text {
  color: #345a47;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#special-landings .map g#suba:hover,
#special-landings .map g#engativa:hover,
#special-landings .map g#fontibon:hover,
#special-landings .map g#kennedy:hover,
#special-landings .map g#puentearanda:hover,
#special-landings .map g#teusaquillo:hover,
#special-landings .map g#chapinero:hover,
#special-landings .map g#usaquen:hover,
#special-landings .map g#santafe:hover,
#special-landings .map g#sancristobal:hover,
#special-landings .map g#usme:hover,
#special-landings .map g#ciudadbolivar:hover,
#special-landings .map g#rafaeluribe:hover,
#special-landings .map g#losmartires:hover,
#special-landings .map g#antonionarino:hover,
#special-landings .map g#tunjuelito:hover,
#special-landings .map g#barriosunidos:hover {
  color: #345a47;
}
#special-landings .map g#suba:hover .text,
#special-landings .map g#engativa:hover .text,
#special-landings .map g#fontibon:hover .text,
#special-landings .map g#kennedy:hover .text,
#special-landings .map g#puentearanda:hover .text,
#special-landings .map g#teusaquillo:hover .text,
#special-landings .map g#chapinero:hover .text,
#special-landings .map g#usaquen:hover .text,
#special-landings .map g#santafe:hover .text,
#special-landings .map g#sancristobal:hover .text,
#special-landings .map g#usme:hover .text,
#special-landings .map g#ciudadbolivar:hover .text,
#special-landings .map g#rafaeluribe:hover .text,
#special-landings .map g#losmartires:hover .text,
#special-landings .map g#antonionarino:hover .text,
#special-landings .map g#tunjuelito:hover .text,
#special-landings .map g#barriosunidos:hover .text {
  color: #b5e169;
}

.fancybox__backdrop {
  background: transparent !important;
}

.fancybox__content {
  width: 100%;
  background: rgba(52, 90, 71, 0.9) !important;
}
.fancybox__content .info-localidades__field-tit {
  font-family: "value serif pro";
  color: #fefcf1;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid #fefcf1;
  font-weight: bold;
}
.fancybox__content .info-localidades__field-des {
  color: #fefcf1;
  font-size: 13px;
}
.fancybox__content .info-localidades__field-imagen {
  width: 100%;
}
.fancybox__content .info-localidades__field-imagen img {
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=oblicua_style.css.map */
