/* #B5E169 */
/* #345A47 */
#special-landings h2 {
  text-align: center;
  color: #345a47;
}
#special-landings .map g#suba,
#special-landings .map g#engativa,
#special-landings .map g#fontibon,
#special-landings .map g#kennedy,
#special-landings .map g#puentearanda,
#special-landings .map g#teusaquillo,
#special-landings .map g#chapinero,
#special-landings .map g#usaquen,
#special-landings .map g#santafe,
#special-landings .map g#sancristobal,
#special-landings .map g#usme,
#special-landings .map g#ciudadbolivar,
#special-landings .map g#rafaeluribe,
#special-landings .map g#losmartires,
#special-landings .map g#antonionarino,
#special-landings .map g#tunjuelito,
#special-landings .map g#barriosunidos {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  color: #b5e169;
  cursor: pointer;
}
#special-landings .map g#suba .text,
#special-landings .map g#engativa .text,
#special-landings .map g#fontibon .text,
#special-landings .map g#kennedy .text,
#special-landings .map g#puentearanda .text,
#special-landings .map g#teusaquillo .text,
#special-landings .map g#chapinero .text,
#special-landings .map g#usaquen .text,
#special-landings .map g#santafe .text,
#special-landings .map g#sancristobal .text,
#special-landings .map g#usme .text,
#special-landings .map g#ciudadbolivar .text,
#special-landings .map g#rafaeluribe .text,
#special-landings .map g#losmartires .text,
#special-landings .map g#antonionarino .text,
#special-landings .map g#tunjuelito .text,
#special-landings .map g#barriosunidos .text {
  color: #345a47;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#special-landings .map g#suba:hover,
#special-landings .map g#engativa:hover,
#special-landings .map g#fontibon:hover,
#special-landings .map g#kennedy:hover,
#special-landings .map g#puentearanda:hover,
#special-landings .map g#teusaquillo:hover,
#special-landings .map g#chapinero:hover,
#special-landings .map g#usaquen:hover,
#special-landings .map g#santafe:hover,
#special-landings .map g#sancristobal:hover,
#special-landings .map g#usme:hover,
#special-landings .map g#ciudadbolivar:hover,
#special-landings .map g#rafaeluribe:hover,
#special-landings .map g#losmartires:hover,
#special-landings .map g#antonionarino:hover,
#special-landings .map g#tunjuelito:hover,
#special-landings .map g#barriosunidos:hover {
  color: #345a47;
}
#special-landings .map g#suba:hover .text,
#special-landings .map g#engativa:hover .text,
#special-landings .map g#fontibon:hover .text,
#special-landings .map g#kennedy:hover .text,
#special-landings .map g#puentearanda:hover .text,
#special-landings .map g#teusaquillo:hover .text,
#special-landings .map g#chapinero:hover .text,
#special-landings .map g#usaquen:hover .text,
#special-landings .map g#santafe:hover .text,
#special-landings .map g#sancristobal:hover .text,
#special-landings .map g#usme:hover .text,
#special-landings .map g#ciudadbolivar:hover .text,
#special-landings .map g#rafaeluribe:hover .text,
#special-landings .map g#losmartires:hover .text,
#special-landings .map g#antonionarino:hover .text,
#special-landings .map g#tunjuelito:hover .text,
#special-landings .map g#barriosunidos:hover .text {
  color: #b5e169;
}/*# sourceMappingURL=oblicua_style.css.map */