{#
    /**
     * @file
     * Template for a field.
     */
    #} 
<section class="splide splideSpeakers" aria-label="Splide Basic HTML Example">
<div class="splide__track">
        <ul class="splide__list">
        {% for item in items %}
        <li class="splide__slide">{{item.content }}</li>
        {% endfor %}
        </ul>
</div>
</section>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var splide = new Splide('.splideSpeakers', {
			type: 'loop',
			pagination: true,
			arrows: false,
            perPage: 2,
		});
		splide.mount();
    })

</script>