{#
    /**
     * @file
     * Template for a field.
     */
    #} 
<section class="splideSpeakers">
    <ul class="splide__list ">
        {% for item in items %}
        <li class="splide__slide">{{item.content }}</li>
        {% endfor %}
    </ul>
</section>